<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <form action="off" autocomplete="off" class="formulario" [formGroup]="forma"(ngSubmit)="registrar(forma)">
            <div class="col-md-12 mt-3 mb-3" style="text-align: center;"> <strong style="font-size: 25px; color: rgb(29, 29, 29); text-align: center  !important;" >Registrar</strong></div>
                <label class= "" style="font-size: 13px; color:rgb(0, 0, 0);">nombre</label>
            
                <div class="col-12">
                    <input class="form-control formEditar"
                           type="text"
                           placeholder="Ingrese nombre"
                           formControlName="nombre"
                           [class.is-invalid]="nombreNoValido"
                           >
                </div>
                <label class=" "  style="font-size: 13px; color:rgb(0, 0, 0);">Apellido Paterno</label>
                <div class="col-12">
                    <input class="form-control formEditar"
                            type="text"
                            placeholder="Apellido paterno"
                            formControlName="apellidoPaterno"
                            [class.is-invalid]="apellidoPaternoNoValido"
                            >
                </div>
                <label class=" "  style="font-size: 13px; color:rgb(0, 0, 0);">Apellido materno </label>
                <div class="col-12">
                    <input class="form-control formEditar"
                            type="text"
                            placeholder="Apellido Materno"
                            formControlName="apellidoMaterno"
                            [class.is-invalid]="apellidoMaternoNoValido"
                            >
                </div>
                <label class=" "  style="font-size: 13px; color:rgb(0, 0, 0);">Email</label>             
                <div class="col-12">
                    <input class="form-control formEditar" 
                            type="email"
                            placeholder="Correo"
                            formControlName="correo"
                            [class.is-invalid]="correoNoValido"
                            >
                </div>
                <label class=" "  style="font-size: 13px; color:rgb(0, 0, 0);">password</label>
                <div class="col-12">
                    <input class = "form-control formEditar"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    [class.is-invalid]="passwordNoValido"
                    >
                </div>
                <label class=" "  style="font-size: 13px; color:rgb(0, 0, 0);">Ingrese nuevamente el password</label>
                <div class="col-12">
                    <input type="password"
                            class="form-control formEditar"
                            placeholder="Ingrese Nuevamente el password"
                            formControlName="password2"
                            [class.is-invalid]="password2NoValido"   
                            >
                </div>
            <!-- <span class="col-8 text-danger" *ngIf="mensajeError2!==''">{{mensajeError2}}</span>
            <small *ngIf="email.invalid && email.touched"
                            class="class-form text-danger">El correo no es valido</small> <br>
            <small *ngIf="password.invalid && password.touched" -->
                            <!-- class="class-form text-danger">El password debe tener mas de 9 caracteres</small>  -->
            <small *ngIf="correoNoValido" class="text-danger">El correo no es valido</small>
            <small *ngIf="password2NoValido" class="text-danger">El password no counciden</small>
            <div class="form-group">
                <label class="col-12 col-form-label">&nbsp;</label>
                <div class="row">
                    <button type="submit" class="botonEstilo">Registrarse</button>
                </div> 
                <div class="col-md-12 mt-3" style="text-align: center; color: rgb(0, 0, 0);">
                    Ya tienes una cuenta 
                    <a type="submit" class="letra" (click)="login()">Login</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
