.estiloImput{
    outline: none;
    border-radius: 5px;
    border: 2px solid  rgb(231, 231, 231);
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
input{
    outline: none;
    font-size: 20px;
}
 
.espacioLabel{
    padding-left: 25px;
    font-size: 11px;
    color: rgb(120, 120, 120);
}
input:focus{
    border-color: rgb(4, 0, 255);
}
.formEditar{
    border-radius: 5px;
    border: 2px solid  rgb(231, 231, 231);
    width: 100%;
    height: 40px;
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    color:   rgb(114, 114, 114);
}
.formEditar:focus{
    outline: none;
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
}
.estiloBoton{
    border-radius: 20px;
    color:rgb(0, 0, 0);
    background-color: rgb(240, 239, 239);
}
.estiloBoton:hover{
    background-color: rgb(218, 214, 214);
    border-radius: 20px;
    color:rgb(0, 0, 0);
}
.negro {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #b3b3b3 ;
    /* border-color: #6e6d6d; */
    padding: 20px;
    /* margin:10px; */
   }
   .bordeTexto2{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
    
}
 