.marginFormulario{
    /*    border: 2px solid rgb(51, 51, 51); */
       padding-top:20px;
       padding-bottom:30px;
       padding-left: 20px;
       border-radius: 20px;
       background-color: rgb(0, 0, 0);
   }
   .textoEditar{
       text-align: center;
   }
   .borderTexto{
    /*    border: 1px solid rgb(46, 46, 46); */
       border-radius: 10px;
       padding-left: 10px;
       padding-top: 5px;
       background-color: rgb(54, 54, 54);
   }
   .borderBoton{
       border-radius: 40px;
       padding: 15px;
       background-color: rgb(245, 245, 245);
       text-decoration: none;
       color: black;
       text-align: center;
       border: none;
   }
   .borderBoton:hover{
       border: none;
       border-radius: 40px;
       padding: 15px;
       background-color: rgb(235, 235, 235);
       text-decoration: none;
       color: black;
       text-align: center;
   }
   .borderBotonx{
       border-radius: 30px;
       padding: 10px;
        background-color: rgb(245, 245, 245);
       text-decoration: none;
       color: rgb(0, 0, 0);
       text-align: center;
   }
   .borderBotonx:hover{
       border-radius: 30px;
       padding: 10px;
        background-color: rgb(235, 235, 235);
       text-decoration: none;
       color: rgb(0, 0, 0);
       text-align: center;
   }
   .bordeTexto2{
        background: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid rgb(205, 205, 205);
        padding-top: 10px;
        padding-left: 10px;
    }

   .formEditar{
        border-radius: 10px;
        border: 1px solid  rgb(152, 152, 152);
       outline: none;
       width: 100%;
       height: 50px;
       background-color: rgb(255, 255, 255);
       color: black;
       font-size: 20px;
       padding-left: 5px;
   }
   .formEditar:focus{
       border-radius: 10px;
       outline: none;
       width: 100%;
       height: 50px;
       color: black;
       font-size: 20px;
       padding-left: 5px;
   }
   input::placeholder{
       padding-left: 2px;
       font-weight: 300;
       font-size: 20px;
       color: rgb(130, 130, 130);
       
    }
    input:focus{
        border-color: rgb(4, 0, 255);
        font-size: 20px;
   }
   .margenFormulario{
       margin-right: 10px;
   }
   .espacioLabel{
       padding-left: 15px;
       font-size: 11px;
       color: rgb(120, 120, 120);
   }
   .mat-form-field {
    margin-right: 8px;
  }
/*   .negro {
    background-color: rgb(250, 250, 250);
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #b3b3b3 ;
    padding: 20px;
   } */