.espacio {
    padding-top: 80px;
}
.t {
    border-left: 1px solid #6e6d6d;
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: 3px;
}

.tt {
    border-right: 1px solid #6e6d6d;
    height: 100%;
    position: absolute;
    right: 100%;
    margin-right: 3px;
}

.example-card {
    max-width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.espacio {
    padding-top: 80px;
}

.espacio2 {
    padding-top: 75px;
    padding-left: 120px;

}

.borde {
    /* border: 1px solid rgb(0, 0, 0) */
    border: 2px solid #6e6d6d;
    background-color: #6e6d6d;
}

.f {
    border: none;
}

.border {
    border-color: #6e6d6d;
}

.espacioTarjeta {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.circulo {
    border-radius: 70px;
    border: 2px solid rgb(255, 255, 255);
    width: 45px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    color: white;
}

.colorIcono1 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono2 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono3 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono11 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono22 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono33 {
    color: #6e6d6d;
    text-decoration: none;
    
}

.colorIcono1:hover {
    color: rgb(255, 104, 104);
}

.colorIcono2:hover {
    color: rgb(124, 203, 255);
}

.colorIcono3:hover {
    color: rgb(107, 255, 131);
}

.linea {
    text-decoration: none;
    color: #000000 !important;
    font-weight: 500;
    font-size: 15px;
}

.linea2 {
    color: #ff0707;
    text-decoration: none;
    font-size: 20px;
}

.linea:hover {
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

.linea2:hover {
    /*     color: #bdbdbd; */
    color: #001aff;
    text-decoration: underline;
}

.estilo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    color: #001aff;
}

.estilo1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
}

.bordeTexto {
   /*  border: 1px solid #6e6d6d; */
/*    background-color: rgb(36, 35, 35);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 15px; */
}

.colorPublicar {
    background-color: black;
    padding: 20px;
}

.botonAdicionar {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.botonAdicionar:hover {
    background-color: rgb(59, 59, 59);
    text-align: center;
    border-radius: 10px;
}

.iconoEnviar {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    margin-bottom: 5spx !important;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.iconoEnviar:hover {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    text-align: center;
    background-color: rgb(59, 59, 59);
    padding: 5px;
    border-radius: 10px;
}

.fd {
    border: none;
}

.bordeInsertar {
    border: 1px solid #6e6d6d !important;
    border-radius: 15px;
}

.textoEstilo {
    font-size: 25px;
    padding: 2px;
    transition: .2s
}
.textoEstilo:hover {
    font-size: 25px;
    border-radius: 35px;
    padding: 2px;
    transition: .2s
}

.estiloBarraEnfermedad{
    margin-top: 105px;
    margin-left: 0;
 
}

.sticky-top4 {
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    border: none;
    border-radius: 25px;
    padding: 1px;
    width: 100%;
}
.sticky-top2 {
    margin-right: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    border: 2px solid #6e6d6d;
    border-radius: 25px;
    padding: 20px;
    height: 500px;
}



.bordeBoton{
    border-radius: 50px;
    background-color:  rgb(240, 239, 239);
    color: rgb(0, 0, 0);
    margin-left: 50px;
    padding-bottom: 10px;
}
.bordeBoton:hover{
    border-radius: 50px;
    background-color:  rgb(227, 226, 226);
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
.botonFoto{
    border-radius: 100px;
    text-align: center;
    padding-right: 90px;
    padding-left: 28px;
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 5px;
}
.textoFoto{
    font-size: 70px;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    padding-left: 5px;
    margin-bottom: 0px;
    color: rgb(41, 41, 41);
}
/* .botonFoto{
    border-radius: 100px;
    text-align: center;
    padding-right: 40px;
    padding-left: 38px;
    padding-bottom: 0px;
    padding-top: 5px;
    border: 2px solid rgb(64, 65, 64);
    margin-bottom: 15px;
}
.textoFoto{
    font-size: 70px;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px;
} */
.mat-tab-group {
    margin-bottom: 48px;
}
.botonFoto2{
    border-radius: 100px;
    text-align: center;
    padding-right: 28px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top:5px;
    border: 1px solid rgb(165, 165, 165);
    margin-top:8px;  
}
.nombreInicial{
    font-size: 20px !important;
    margin-bottom: 7px !important;
    margin-top: 0px !important;
    margin-left: 1px;
    padding-left: 2px;
    color: rgb(107, 107, 107);
}
.estacioCostado{
    padding-left: 40px;
    color: black;
}
p {
    font: small-caption;
  }

  .textoDescripcion{
    font-size: 15px; color: rgb(0, 68, 255);
    text-decoration: none;
    font-weight: bolder !important;
  }
  .textoDescripcion:hover{
    font-size: 15px; color: rgb(0, 68, 255);
     text-decoration: underline;
     font-weight: bolder !important;
  }
  .marinItem{
    padding-left:  36px;
    padding-right: 36px;
     
}

.textoDescripcion2{
    font-size: 15px;
     color: rgb(0, 68, 255);
    text-decoration: none;
    font-weight: 400;
  }
  .textoDescripcion2:hover{
    font-size: 15px; 
    color: rgb(0, 68, 255);
     text-decoration: underline;
     font-weight: 400;
  }
.colorIcono11 {
    color: rgb(255, 104, 104);
}

.colorIcono22 {
    color: rgb(124, 203, 255);
}

.colorIcono33 {
    color: rgb(107, 255, 131);
}
.estiloPerfil4{
     
    border: 1px solid rgb(41, 41, 41);
    border-radius: 100px;
    padding-left: 11px;
    padding-right: 5px;  
    padding-top: 6px;
    width:  110px;
    height:  110px;
    margin-bottom: -20;
    margin-left: 6px;
}
.espacio2Letra{
    padding-left: 37px;
    margin-top:2px;
    padding-top: 10px;
    font-size: 50px;
}
.espacio1Letra{
    padding-left: 25px;
    margin-top:2px;
    padding-top: 10px;
    font-size: 50px;
}

.espacio3Letra{
    padding-left:20px;
    margin-top:2px;
    padding-top:10px;
    font-size: 50px;
}
.espacio4Letra{
    padding-left:3px;
    margin-top:2px;
    margin-left: 2px;
    font-size: 20px;
}


.estiloPerfil55{
        border: 1px solid rgb(41, 41, 41);
        border-radius: 50px;
        padding-left: 14px;
        padding-right: 10px;  
        padding-top: 7px;
        width:   50px;
        height:   50px;
        /* margin-bottom: -20; */
        margin-left:5px;
        /* margin-top: 10px; */
        font-size: 40px;
}
.espacio22Letra{
    padding-left: 5px;
    margin-top:2px;
    font-size: 20px;
    color: black;
}

.espacio33Letra{
    padding-left:1px;
    margin-top:2px;
    font-size: 20px;
}
.espacio44Letra{
    padding-left:30px;
    margin-top:2px;
    padding-top:10px;
    font-size: 50px;
}
.espacio11Letra{
    padding-left: 3px;
    margin-top:1px;
    font-size: 20px;
}
 
/* //''''''''''' */

.estiloTarjeta{
    border: 1px solid rgb(46, 46, 46);
    padding-top: 10px;
}
.estiloDesripcion{
    /* text-decoration: underline; */
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-size: 20px;
}
.estiloNombre{
    text-decoration:none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.estiloNombre:hover{
    text-decoration: underline;
    font-weight: 400;
}
.colorCorazon1{
    color: rgb(252, 54, 54);
    text-decoration: none;
    font-size: 18px;
}
.colorComentario2{
    color: rgb(13, 138, 255);
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir3{
    color: rgb(82, 255, 59);
    text-decoration: none;
    font-size: 18px;
}
.colorCorazon1:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}
.colorComentario2:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir3:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}


.colorCorazon{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 18px;
}
.colorComentario{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 18px;
}
.colorCorazon:hover{
    color: rgb(252, 54, 54);
    text-decoration: none;
    font-size: 18px;
}
.colorComentario:hover{
    color: rgb(13, 138, 255);
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir:hover{
    color: rgb(82, 255, 59);
    text-decoration: none;
    font-size: 18px;
}
.bordeTexto2{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(215, 215, 215);
    padding-top: 10px;
}
.bordeTexto2:hover{
    /* background-color: #535353; */
  /*   border: 1px solid rgb(224, 224, 224); */
  background-color: rgb(253, 253, 253);
  /* padding-bottom: px; */
    /* border-radius: 10px; */
}
.negro {
    background-color: rgb(248, 248, 248);
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #b3b3b3 ;
    /* border-color: #6e6d6d; */
    padding: 10px;
    /* margin:10px; */
   }
.estiloUno{
    font-size: 15px; 
    color: black; font-weight: 300;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;          /* Guiones para separar en sílabas */
    -moz-hyphens: auto;         /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}
.d{
    background-color: rgb(255, 255, 255);
    padding: 7px;
}