<div class="negro bordeTexto2">
    <form autocomplete="off" (ngSubmit)="enviar(f)" #f="ngForm" class="mb-5 ">
        <div class="col-md-3 mt-4 mb-3 "> <strong style="font-size: 25px; color: rgb(102, 102, 102);" ><label> Publicar</label></strong></div>
      
          <hr >  
  <div class="container">
          <div class="form-group margenFormulario">
            <div class="row mb-2">
          <label class="espacioLabel"><small>Pregunta</small></label>
              <input class="estiloImput" 
                    placeholder="¿Cuáles es su pregunta?"
                    name="descripcion"
                    #descripcion="ngModel"
                    ngModel
                    required
                    [class.is-invalid]="descripcion.invalid && descripcion.touched"
                    > 
          </div>
          <br> 
          <div class="row mb-2">
          <label class="espacioLabel"><small>Descripción de la pregunta</small></label>
          <input class="estiloImput" 
                  placeholder="Ingrese la descripción"
                  name="contenido"
                  #contenido="ngModel"
                  ngModel
                  required
                  [class.is-invalid]="contenido.invalid && contenido.touched"
          >
        </div>
      <!--   <br> -->
        
        <div class="row mt-3">
          <label class="espacioLabel" style="padding-left: 15px;"><small>Descripción de la pregunta</small></label>
          <div class="col-md-10">
              <select
                  class="formEditar"
                  aria-label="Default select  example"
                  name="tipoEnfermedad"
                  #tipoEnfermedad="ngModel"
                  ngModel
                  required
                  [ngModel]="data.data"
                >
                <option selected hidden>{{data.data|pipes:false}}</option>
                <option value="0">Tos</option>
                <option value="1">Cancer de colon</option>
                <option value="2">Diabetes</option>
                <option value="3">Cancer de mama</option>
                <option value="4">Cancer de piel</option>
                <option value="5">Resfrio</option>
                <option value="6">Sinusitis</option>
                <option value="7">Gonorea</option>
                <option value="8">Senfalitis</option>
                <option value="9">Meningitis</option>
              </select>
            </div>
            <div class="col-md-2" >
              <button class="btn  estiloBoton">Publicar</button>
            </div>
           </div>
          </div>
        </div>
    </form>
  </div>
