<div class="negro bordeTexto2">
    <form autocomplete="off" (ngSubmit)="enviar(f)" #f="ngForm" class="mb-5 ">
        <div class="col-md-3 mt-4 mb-3 "> <strong style="font-size: 25px; color: rgb(102, 102, 102);" ><label> Publicar</label></strong></div>
      
          <hr >  
  <div class="container">
          <div class="form-group margenFormulario">
            <div class="row">
          <label class="espacioLabel"><small>Pregunta</small></label>
              <input class="estiloImput" 
                    placeholder="¿Cuáles es su pregunta?"
                    name="descripcion"
                    #descripcion="ngModel"
                    ngModel
                    required
                    [class.is-invalid]="descripcion.invalid && descripcion.touched"
                    > 
          </div>
          <br> 
          <div class="row">
          <label class="espacioLabel"><small>Descripción de la pregunta</small></label>
          <input class="estiloImput" 
                  placeholder="Ingrese la descripción"
                  name="contenido"
                  #contenido="ngModel"
                  ngModel
                  required
                  [class.is-invalid]="contenido.invalid && contenido.touched"
          >
        </div>
      <!--   <br> -->
        <div class="row">
          <label class="espacioLabel" style="padding-left: 15px;"><small>Elija una opción</small></label>
          <div class="col-md-10">
              <select
                  class="formEditar"
                  aria-label="Default select  example"
                  name="tipoEnfermedad"
                  #tipoEnfermedad="ngModel"
                  ngModel
                  required
                  [ngModel]="data.data"
                >
                <option selected hidden>{{data.data|pipes:false}}</option>
                <option selected hidden>{{data.nombre}}</option>
                                <option value="0"> Alergia</option>
                                <option value="1"> Ántrax</option>
                                <option value="2"> Asma</option>
                                <option value="3"> Autismo</option>
                                <option value="4"> Artritis</option>
                                <option value="5"> Anemia</option>
                                <option value="6"> Cáncer</option>
                                <option value="7"> Clamidia</option>
                                <option value="8"> Culebrilla (herpes zóster)</option>
                                <option value="9"> Déficit de atención e hiperactividad</option>
                                <option value="10"> Diabetes</option>
                                <option value="11"> Ébola</option>
                                <option value="12">Embarazo y ETS</option>
                                <option value="13">Enfermedades de transmisión sexual (ETS)</option>
                                <option value="14">Enfermedad inflamatoria pélvica (EIP)</option>
                                <option value="15">Enfermedad pulmonar obstructiva crónica</option>
                                <option value="16">Epilepsia</option>
                                <option value="17">Escarlatina</option>
                                <option value="18">Estreptococo del grupo B</option>
                                <option value="19">Gonorrhea</option>
                                <option value="20">Haemophilus influenzae tipo b (Hib)</option>
                                <option value="21">Hemofilia</option>
                                <option value="22">Herpes genital</option>
                                <option value="23">Infeccíon genital por VPH</option>
                                <option value="24">Influenza (gripe)</option>
                                <option value="25">La Salud Mental de los Niños (Children’s Mental Health)</option>
                                <option value="26">Listeria (Listeriosis)</option>
                                <option value="27">Meningitis</option>
                                <option value="28">Neumonía</option>
                                <option value="29">Paperas</option>
                                <option value="30">Poliomielitis</option>
                                <option value="31">Rabia</option>
                                <option value="32">Reumatismo</option>
                                <option value="33">Rotavirus</option>
                                <option value="34">Shigella – Shigellosis</option>
                                <option value="35">Sífilis</option>
                                <option value="36">Silicosis</option>
                                <option value="37">Síndrome alcohólico fetal</option>
                                <option value="38">Síndrome de fatiga crónica (SFC)</option>
                                <option value="39">Síndrome de Tourette</option>
                                <option value="40">Tabaquismo</option>
                                <option value="41">Tosferina</option>
                                <option value="42">Tricomoniasis</option>
                                <option value="43">Tuberculosis (TB)</option>
                                <option value="44">Vaginosis bacteriana</option>
                                <option value="45">VIH/Sida</option>
                                <option value="46">Zika</option>
                                <option value="47">#otro</option>
              </select>
            </div>
            <div class="col-md-2" >
              <button class="btn  estiloBoton">Publicar</button>
            </div>
           </div>
          </div>
        </div>
    </form>
  </div>
