.t {
    border-left: 1px solid #6e6d6d;
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: 3px;
}

.tt {
    border-right: 1px solid #6e6d6d;
    height: 100%;
    position: absolute;
    right: 100%;
    margin-right: 3px;
}

.example-card {
    max-width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.mm{
    margin-right: 10px;
}
.espacio {
    padding-top: 80px;
}

.espacio2 {
    padding-top: 75px;
    padding-left: 120px;

}

.borde {
    /* border: 1px solid rgb(0, 0, 0) */
    border: 2px solid #6e6d6d;
    background-color: #6e6d6d;
}

.f {
    border: none;
}

.border {
    border: 1px solid;
    border-color: #272727;
}

.espacioTarjeta {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.circulo {
    border-radius: 70px;
    border: 2px solid rgb(255, 255, 255);
    width: 45px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    color: white;
}

.colorIcono1 {
    color: #6e6d6d;
    text-decoration: none;
        font-size: 18px;
    
    
}
.colorIcono11 {
    color: #6e6d6d;
    text-decoration: none;
        font-size: 18px;
    
    
}

.colorIcono2 {
    color: #6e6d6d;
    text-decoration: none;
        font-size: 18px;
    
    
}

.colorIcono3 {
    color: #6e6d6d;
    text-decoration: none;
        font-size: 18px;
    
    
}
.colorIcono33 {
    color: #6e6d6d;
    text-decoration: none;
        font-size: 18px;
    
    
}

.colorIcono1:hover {
    color: rgb(252, 54, 54);
        font-size: 18px;
    
}
.colorIcono11 {
    color: rgb(252, 54, 54);
        font-size: 18px;
    
}

.colorIcono2:hover {
    color: rgb(150, 150, 150);
        font-size: 18px;
    
}

.colorIcono3:hover {
     color: rgb(150, 150, 150);
         font-size: 18px;
     
}
.colorIcono33 {
    color:  rgb(150, 150, 150);
        font-size: 18px;
    
}

.negro {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #b3b3b3 ;
    /* border-color: #6e6d6d; */
    padding: 0px;
    /* margin:10px; */
   }

.linea {
    text-decoration: none;
    color: #000000 !important;
    font-weight: 400;
    font-size: 18px;
}

.linea2 {
    color: #ff0707;
    text-decoration: none;
    font-size: 20px;
}

.linea:hover {
    text-decoration: underline;
    color: black;
    font-size: 18px;
}

.linea2:hover {
    /*     color: #bdbdbd; */
    color: #001aff;
    text-decoration: underline;
}

.estilo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    color: #001aff;
}

.estilo1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
}

.bordeTexto2{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(215, 215, 215);
    padding-top: 10px;
}
 
.colorPublicar {
    background-color: black;
    padding: 20px;
}

.botonAdicionar {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    border-radius: 10px;
}

.botonAdicionar:hover {
    background-color: rgb(59, 59, 59);
    text-align: center;
    border-radius: 10px;
}

.iconoEnviar {
    margin-top: 15px !important;
    margin-bottom: 30px !important;
    padding-left: 15px !important;
    padding-right: 35px !important;
    padding-top: 20 !important;
    padding-bottom: 10 !important;
    text-align: center;
    /* padding: 5px; */
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.iconoEnviar:hover {
    margin-top: 15px !important;
    margin-bottom: 30px !important;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.d{
    background-color: rgb(255, 255, 255);
    padding: 7px;
}
.fd {
    border: none;
}

.bordeInsertar {
    border: 1px solid #6e6d6d !important;
    border-radius: 15px;
}

.textoEstilo {
    font-size: 25px;
    padding: 2px;
    transition: .2s
}
.textoEstilo:hover {
    font-size: 25px;
    border-radius: 35px;
    padding: 2px;
    transition: .2s
}

.estiloBarraEnfermedad{
    margin-top: 105px;
    margin-left: 0;
 
}

.sticky-top4 {
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    border: none;
    border-radius: 25px;
    padding: 1px;
    width: 100%;
}
.sticky-top2 {
    margin-right: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    border: 2px solid #6e6d6d;
    border-radius: 25px;
    padding: 20px;
    height: 500px;
}
/* //////////// */
.botonFoto2{
    border-radius: 100px;
    text-align: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top:5px;
    border: 1px solid rgb(165, 165, 165);
}
.botonFoto1{
    border-radius: 100px;
    text-align: center;
   /*  padding-right: 27px;
    padding-left: 9px; */
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-top:5px;
    border: 1px solid rgb(165, 165, 165);
}
.nombreInicial{
    font-size: 20px !important;
    margin-bottom: 7px !important;
    margin-top: 0px !important;
    margin-left: 0px;
    padding-left: 2px;
    color: rgb(107, 107, 107);
}
/* //////////// */
p {
    font: small-caption;
  }

  .textoDescripcion{
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-size: 20px;
  }
  .textoDescripcion:hover{
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-size: 20px;
  }
  .formEditar{
    border: 1px solid  rgb(73, 73, 73);
    width: 100%;
    height: 40px;
    outline: none;
    background-color: black;
}
.formEditar:focus{
    outline: none;
    width: 100%;
    height: 40px;
}
input::placeholder{
    padding-left: 1px;
    font-weight: bold;
    padding-top: 5px;
}
/* input:focus{
    border-color: rgb(4, 0, 255);
} */

.usuarioComentar{
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(251, 251, 251);
    outline: none;
    width: 100%;
    color: #333333;
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.usuarioComentar:focus{
    outline: none;
}
input::placeholder{
    font-size: 17px;
    font-weight: 400;
    padding-top: 5px;
}
.estiloNombre{
    text-decoration:none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.estiloNombre:hover{
    text-decoration: underline;
    font-weight: 400;
}
.colorIcono{
    color: rgb(0, 38, 255);
}
.estiloPerfil44{
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
    padding-left: 14px;
    padding-right: 10px;  
    padding-top: 7px;
    width:   50px;
    height:   50px;
    font-size: 40px;
}
.espacio2Letra{
    padding-left: 5px;
    margin-top:2px;
    font-size: 20px;
    color: black;
}
.espacio1Letra{
    padding-left: 3px;
    margin-top:1px;
    font-size: 20px;
    /* padding-top: 20px; */
}
.espacio3Letra{
    padding-left:1px;
    margin-top:2px;
    font-size: 20px;
}
.espacio4Letra{
    padding-left:3px;
    margin-top:2px;
    margin-left: 2px;
    font-size: 20px;
}

.modificado{
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    outline: none;
    width: 100%;
    /* height: 10px; */
    color: #333333;
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
        font-size: 15px; 
        color: black; font-weight: 300;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
        -ms-hyphens: auto;          /* Guiones para separar en sílabas */
        -moz-hyphens: auto;         /*  depende de lang en <html>      */
        -webkit-hyphens: auto;
        hyphens: auto;
}
.modificado{
    outline:none;
        font-size: 15px; 
        color: black; 
        font-weight: 300;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
        -ms-hyphens: auto;          /* Guiones para separar en sílabas */
        -moz-hyphens: auto;         /*  depende de lang en <html>      */
        -webkit-hyphens: auto;
        hyphens: auto;
}
.estiloContenidoC{
    color: rgb(58, 58, 58); 
    font-size: 15px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;          /* Guiones para separar en sílabas */
    -moz-hyphens: auto;         /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}
