<form autocomplete="off" *ngIf="!loading" [formGroup]="forma"(ngSubmit)="actualizar()" class="bordeTexto2" >
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-1 mt-3">
                <a type="submit" class="borderBotonx" (click)="back()" style="font-size: 20px;"><small>cancel</small></a>
            </div>
        </div>
        <strong class="mb-4" style="color: black;text-align: center; font-size: 30px;font-weight: 500;"> <label>  Editar Contraseña </label></strong>
    </div>
        <div class="form-group margenFormulario">
                <div class="row mb-2">
                    <label class="espacioLabel">Antigua contraseña</label>
                    <div class="col-12">
                        <input  class="formEditar"
                                type="password"
                                placeholder="Antigua contraseña"
                                formControlName="password1"
                                [class.is-invalid]="passwordNoValido"
                                >
                        <small *ngIf="passwordNoValido" class="text-danger">antiguo contraseña</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="espacioLabel">Nueva contraseña</label>
                    <div class="col-12">
                        <input  class="formEditar"
                                type="password"
                                placeholder="Nueva contraseña"
                                formControlName="password2"
                                [class.is-invalid]="password2NoValido"
                                >
                        <small *ngIf="password2NoValido" class="text-danger">ingrese la nueva contraseña</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="espacioLabel">Repita contraseña</label>
                    <div class="col-12">
                        <input  class="formEditar"
                                type="password"
                                placeholder="Repita contraseña"
                                formControlName="password3"
                                [class.is-invalid]="password3NoValido"
                                >
                        <small *ngIf="password3NoValido" class="text-danger">repita contraseña</small>
                    </div>
                </div>
                <div class="row mb-1">
                    <small *ngIf="mensaje.length > 1" class="text-danger">{{mensaje}}</small>
                </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7" >
                    <button type="submit" class="borderBoton" >Actualizar</button>
                </div> 
                <div class="col-md-3"></div>
            </div>
        </div>
</form>