<div class="negro">
    <div *ngIf="sw" class="mb-3 mt-4">
        <!-- <label><h1 style="font-weight:800; color: rgb(102, 102, 102)"> Publicar</h1></label> -->
            <div class="container">
                <div class="row botonInicio" type="submit" (click)="sw=false">
                    <div class="col-md-12">
                        <i class="fas fa-plus"></i>
                        <label style="font-weight: 400; padding-left: 20px;"> <a type="submit">Publicar una Pregunta o alguna información sobre enfermedades</a> </label>
                    </div>
                </div>
            </div>
    </div>
    <div *ngIf="!sw" class="mb-2">
        <div class="con bordeTexto2">
                <div class="col-md-1 estiloPerfil4p">
                    <p *ngIf="
                              'A' === de || 'a' === de ||
                              'B' === de || 'b' === de ||
                              'C' === de || 'c' === de ||
                              'D' === de || 'd' === de ||
                              'E' === de || 'e' === de ||
                              'F' === de || 'f' === de ||
                              'G' === de || 'g' === de ||
                              'H' === de || 'h' === de ||
                              'K' === de || 'k' === de ||
                              'L' === de || 'l' === de ||
                              'N' === de || 'n' === de ||
                              'O' === de || 'o' === de ||
                              'R' === de || 'r' === de ||
                              'P' === de || 'p' === de ||
                              'S' === de || 's' === de ||
                              'U' === de || 'u' === de ||
                              'V' === de || 'v' === de ||
                              'X' === de || 'x' === de ||
                              'Y' === de || 'y' === de ||
                              'Z' === de || 'z' === de   " class="espacio1Letrap">
                    <label>{{ de|uppercase | slice:0:1}}</label>
                    </p>
                    <p *ngIf="'M' === de || 'm' === de" class="espacio3Letrap">       
                    <label>  {{ de|uppercase | slice:0:1}}</label>
                    </p>
                    <p *ngIf="'I' === de || 'i' === de" class="espacio2Letrap">
                        <label>{{ de|uppercase | slice:0:1}}</label>
                    </p>
                    <p *ngIf="'J' === de || 'j' === de  " class="espacio2Letrap2">
                        <label>{{ de|uppercase | slice:0:1}}</label>
                    </p>
                    <p *ngIf="'T' === de || 't' === de " class="espacio44Letrap">
                        <label>  {{ de|uppercase | slice:0:1}}</label>
                    </p>
                </div>
            <div class="col-md-8">
                    <form autocomplete="off" (ngSubmit)="envia(f)" #f="ngForm" class="m-1">
                        <!-- <br> -->
                        <label><small style="color: rgb(95, 95, 95);font-size: 12px;">Ingrese una pregunta o título de la publicación</small></label>
                        <input class="estiloImput" 
                               #descripcion="ngModel"
                               type="text"
                               name="descripcion"
                               placeholder="Pregunta o tíutlo"
                               ngModel
                               required
                               minlength="3"
                               [class.is-invalid]="descripcion.invalid && descripcion.touched"
                               > 
                               <br>
                        <label> <small style="color: rgb(95, 95, 95);;font-size: 12px;">Descripción de la publicación</small></label>
                        <input class="estiloImput mb-2" 
                                placeholder="Descripción"
                                name="contenido"
                                #contenido="ngModel"
                                ngModel
                                required
                                [class.is-invalid]="contenido.invalid && contenido.touched"
                                > 
                     <div class="row">
                        <label  style="color: rgb(95, 95, 95);font-size: 12px;"><small>Elija una opción</small></label>
                         <div class="col-md-10">
                              <select class="formEditar" 
                                        aria-label="Default select  example"
                                        name="tipoEnfermedad"
                                        #tipoEnfermedad="ngModel"
                                        ngModel
                                        [ngModel]="data.nombre"
                                    >
                                <option selected hidden></option>
                                <option value="0"> Alergia</option>
                                <option value="1"> Ántrax</option>
                                <option value="2"> Asma</option>
                                <option value="3"> Autismo</option>
                                <option value="4"> Artritis</option>
                                <option value="5"> Cáncer</option>
                                <option value="6"> Colesterol</option>
                                <option value="7"> Clamidia</option>
                                <option value="8"> Culebrilla (herpes zóster)</option>
                                <option value="9"> Déficit de atención e hiperactividad</option>
                                <option value="10"> Diabetes</option>
                                <option value="11"> Ébola</option>
                                <option value="12"> ELA (Esclerosis Lateral Amiotrófica)</option>
                                <option value="13">Embarazo y ETS</option>
                                <option value="14">Enfermedades de transmisión sexual (ETS)</option>
                                <option value="15">Enfermedad inflamatoria pélvica (EIP)</option>
                                <option value="16">Enfermedad pulmonar obstructiva crónica</option>
                                <option value="17">Epilepsia</option>
                                <option value="18">Escarlatina</option>
                                <option value="19">Estreptococo del grupo B</option>
                                <option value="20">Gonorrhea</option>
                                <option value="21">Haemophilus influenzae tipo b (Hib)</option>
                                <option value="22">Hemofilia</option>
                                <option value="23">Herpes genital</option>
                                <option value="24">Hipertensión</option>
                                <option value="25">Infeccíon genital por VPH</option>
                                <option value="26">Influenza (gripe)</option>
                                <option value="27">La Salud Mental de los Niños (Children’s Mental Health)</option>
                                <option value="28">Listeria (Listeriosis)</option>
                                <option value="29">Meningitis</option>
                                <option value="30">Migraña</option>
                                <option value="31">Neumonía</option>
                                <option value="32">Paperas</option>
                                <option value="33">Parkinson</option>
                                <option value="34">Poliomielitis</option>
                                <option value="35">Rabia</option>
                                <option value="36">Reumatismo</option>
                                <option value="37">Rotavirus</option>
                                <option value="38">Shigella – Shigellosis</option>
                                <option value="39">Sífilis</option>
                                <option value="40">Silicosis</option>
                                <option value="41">Síndrome alcohólico fetal</option>
                                <option value="42">Síndrome de fatiga crónica (SFC)</option>
                                <option value="43">Síndrome de Tourette</option>
                                <option value="44">Tabaquismo</option>
                                <option value="45">Tosferina</option>
                                <option value="46">Tricomoniasis</option>
                                <option value="47">Tuberculosis (TB)</option>
                                <option value="48">Vaginosis bacteriana</option>
                                <option value="49">VIH/Sida</option>
                                <option value="50">Zika</option>
                                <option value="51">#otro</option>
                              </select>
                            </div>
                            <div class="col-md-2" >
                                <button *ngIf="!(tipoEnfermedad.touched || descripcion.valid || contenido.valid)" type="submit" class="borderBoton" disabled>Publicar</button>
                                <button *ngIf=" (tipoEnfermedad.touched || contenido.valid || descripcion.valid )" type="submit" class="borderBoton2" >Publicar</button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="col-md-1">
                <a class="botonInicio" type="submit" (click)="sw=true"><i class="fas fa-angle-left"></i></a>  
            </div>
        </div>
    </div>
    <div class="mb-2">
        <app-loading *ngIf="!loading"></app-loading>
    </div>
    <div class="bordeTexto2 mb-1" *ngFor="let publicacion of publicaciones;let i=index">
            <div class="con">
                    <div class="col-md-2 estiloPerfil4" >
                        <p *ngIf="
                                'A' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'a' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'B' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'b' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'C' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'c' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'D' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'd' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'E' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'e' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'F' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'f' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'G' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'g' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'H' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'h' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'K' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'k' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'L' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'l' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'N' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'n' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'O' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'o' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'R' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'r' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'P' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'p' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'S' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  's' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'U' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'u' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'V' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'v' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'X' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'x' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'Y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                'Z' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'z' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio1Letra">
                        <label> {{publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                        </p>
                        <p *ngIf="'M' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'm' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio3Letra">
                        <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                        </p>
                        <p *ngIf="
                                    'I' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                    'J' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'j' === publicacion.usuario.nombre.charAt(0).toUpperCase()    " class="espacio2Letra">
                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                        </p>
                        <p *ngIf="
                                'T' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  't' === publicacion.usuario.nombre.charAt(0).toUpperCase() 
                                    " class="espacio4Letra">
                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                        </p>
                    </div>
                    <div class="col-md-10 mt-2" >
                        <a class="estiloNombre" (click)="buscarusuario(publicacion.usuario)" type="submit"> {{publicacion.usuario.nombre | titlecase}} {{publicacion.usuario.apellidoPaterno | titlecase}} {{publicacion.usuario.apellidoMaterno | titlecase}} </a>  <label style="padding-left: 2px;padding-right: 2px;">  &#183;   </label>  
                        <small style="color: rgb(80, 80, 80); font-size: 15px;"><label>{{publicacion.fecha|capitalizado}}</label></small> 
                    <br>
                    <small class="text-muted" style="font-size: 15px;color:  rgb(132, 132, 132) !important;"><label> {{publicacion.tipoEnfermedad | titlecase }}</label></small> 
                    </div>
                <div class="col-md-0" >
                    <a type="submit" class="d" [matMenuTriggerFor]="menu" style="color: black;"> 
                       <i class="fas fa-ellipsis-v"></i>
                   </a>
                    <mat-menu #menu="matMenu"  xPosition="before">
                        <div *ngIf="idBuscar !== publicacion.usuario._id">
                           <button *ngIf="!publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                               <i class="far fa-flag" ></i>
                               <span> Reportar</span>
                           </button>
                           <button *ngIf="publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                               <a class="colorIcono"> <i class="far fa-flag" ></i></a>
                               <span> No Reportar</span>
                           </button>
                       </div>
                       <div *ngIf="idBuscar === publicacion.usuario._id">
                           <button mat-menu-item (click)="editarPublicacion(publicacion)">
                               <i class="far fa-edit"></i>
                             <span> Editar Publicación</span>
                           </button>
                           <button mat-menu-item (click)="borrar(publicacion)">
                               <i class="far fa-trash-alt"></i>
                             <span> Borrar Publicación</span>
                           </button>
                       </div>
                     </mat-menu>
               </div>
               <div class="container m-1">
            <div class="con">
                <div class="col-md-12">
                    <p class="mt-2 estiloUno">
                        <a class="estiloDesripcion" type="submit" (click)="comentar(publicacion)"> {{publicacion.descripcion | lowercase}} </a> <br>
                        {{publicacion.contenido | lowercase | textoLargo}} 
                    </p>
                </div>
            </div>  
            <div class="con">
                <div class="col-md-4">
                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes <= 1  && publicacion.CantidadLikes >0">
                        <label>{{publicacion.CantidadLikes}} me gusta</label>
                    </div>
                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes >1  && publicacion.CantidadLikes >0">
                        <label>{{publicacion.CantidadLikes}} me gustas</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12" *ngIf="publicacion.CantidadComentarios <= 1 && publicacion.CantidadComentarios >0">
                        <label>{{publicacion.CantidadComentarios}} comentario</label>
                    </div>
                    <div class="col-md-12" *ngIf="publicacion.CantidadComentarios >1 && publicacion.CantidadComentarios >0">
                        <label>{{publicacion.CantidadComentarios}} comentarios</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos <= 1 && publicacion.CantidadCompartidos >0">
                        <label>{{publicacion.CantidadCompartidos}} compartido</label>
                    </div>
                    <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos >1 && publicacion.CantidadCompartidos >0">
                        <label>{{publicacion.CantidadCompartidos}} compartidos</label>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>  
    <div class="mt-5 mb-3" style="text-align: center;">
            <a class="paginacion" *ngFor="let i of contadorData" (click) = 'paginacion(i)' type="submit">
                <div *ngIf="salto === i" style="color: black;">
                    {{i}}
                </div>
                <div *ngIf="salto !== i">
                    {{i}}
                </div>
            </a>
    </div>
</div>