<div class="row mt-4">
    <div class="con col-md-12 mt-2">
        <div class="col-md-1 mt-2" >
            <a type="submit" (click)="back()"> 
                <i class="fas fa-chevron-left mb-1" style="color: black;"></i>
            </a>
        </div>
        <div class="col-md-11 mt-2">
            <strong style="font-size: 25px; color: rgb(102, 102, 102);"> <label> Compartido</label></strong>
        </div>

        <hr style="background-color: rgb(158, 158, 158);">
    </div>
    <app-loading *ngIf="!cargarContenido"></app-loading>
<div class="container row mb-5 negro" *ngIf="cargarContenido">
    <div class="col-md-2 mt-3">
      <div class="col-md-1 estiloPerfil4p">
        <p *ngIf="
                  'A' === de ||
                  'B' === de ||
                  'C' === de ||
                  'D' === de ||
                  'E' === de ||
                  'F' === de ||
                  'G' === de ||
                  'H' === de ||
                  'K' === de ||
                  'L' === de ||
                  'N' === de ||
                  'O' === de ||
                  'R' === de ||
                  'P' === de ||
                  'S' === de ||
                  'U' === de ||
                  'V' === de ||
                  'X' === de ||
                  'Y' === de ||
                  'Z' === de" class="espacio1Letrap">
        <label>  {{de|uppercase | slice:0:1}}</label>
        </p>
        <p *ngIf="'M' ===de" class="espacio3Letrap">       
        <label>  {{ de|uppercase | slice:0:1}}</label>
        </p>
        <p *ngIf="
                  'I' === de ||
                  'J' === de" class="espacio2Letrap">
            <label>  {{ de|uppercase | slice:0:1}}</label>
        </p>
        <p *ngIf="'T' === de " class="espacio44Letrap">
            <label>  {{ de|uppercase | slice:0:1}}</label>
        </p>
    </div>


    </div>
    <div class="col-md-7 estacioCostado mt-3">
        <label>
        <strong> <h1  style="font-weight: 500; color: rgb(56, 55, 55);">{{nombre| titlecase}}  {{apellidoPaterno| titlecase }} {{apellidoMaterno| titlecase }}</h1></strong>  
        <small><i class="far fa-calendar-alt"></i><strong> se unió en: </strong>{{ fecha | date:'yyyy-MM-dd' }}</small> <br>
        <small><i class="fas fa-plus"></i> <strong> {{cantidadPublicacion}} </strong> publicaciones</small> <br>
        <small><i class="fas fa-heart"></i> <strong> {{cantidadLike}} </strong> likes</small> <br>
        <small> <i class="fa-regular fa-paper-plane"></i><strong> {{cantidadCompartido}} </strong> compartidos</small>
        </label>
    </div>
    <div class="col-md-3 ml-2 mt-3">
        
     <button *ngIf="usuarioActual11===usuarioActual33" type="button" class="btn btn-dark bordeBoton" (click)="editarPerfil()"> <small style="font-size:10px;"> Editar Perfil</small></button>  
    </div>
    <div class="col-md-12 mt-3">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Publicaciones" style="background-color: red;">
                <hr style="background-color: rgb(158, 158, 158);">
                <div class="alert alert-primary" *ngIf="cantidadPublicacion === 0 ">Ninguna Publicacion</div>
                        
                <app-loading *ngIf="!cargarContenido1"></app-loading>
                <div *ngIf="cargarContenido1">
                    <div *ngIf="cantidadPublicacion === 0" >
                        <div class="alert alert-primary" *ngIf="cantidadPublicacion===0">Ningun Publicacion</div>
                    </div>
                </div>
                

                        <div class="bordeTexto2 mb-3" *ngFor="let publicacion of publicaciones;let i=index" >
                            <div class="con">
                                    <div class="col-md-2 estiloPerfil4" >
                                        <p *ngIf="
                                                'A' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'a' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'B' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'b' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'C' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'c' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'D' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'd' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'E' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'e' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'F' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'f' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'G' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'g' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'H' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'h' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'K' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'k' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'L' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'l' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'N' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'n' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'O' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'o' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'R' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'r' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'P' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'p' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'S' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  's' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'U' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'u' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'V' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'v' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'X' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'x' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'Y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'Z' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'z' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio1Letra">
                                        <label> {{publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="'M' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'm' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio3Letra">
                                        <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="
                                                    'I' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                    'J' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'j' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio2Letra">
                                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="
                                                'T' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  't' === publicacion.usuario.nombre.charAt(0).toUpperCase() " class="espacio4Letra">
                                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                    </div>
                                    <div class="col-md-10 mt-2" >
                                        <a class="estiloNombre" (click)="buscarusuario(publicacion.usuario)" type="submit"> {{publicacion.usuario.nombre | titlecase}} {{publicacion.usuario.apellidoPaterno | titlecase}} {{publicacion.usuario.apellidoMaterno | titlecase}} </a>  <label style="padding-left: 2px;padding-right: 2px;">  &#183;   </label>  
                                        <small style="color: rgb(80, 80, 80); font-size: 15px;"><label>{{publicacion.fecha|capitalizado}}</label></small> 
                                    <br>
                                    <small class="text-muted" style="font-size: 15px;color:  rgb(132, 132, 132) !important;"><label> {{publicacion.tipoEnfermedad | titlecase }}</label></small> 
                                    </div>
                                <div class="col-md-0" >
                                    <a type="submit" class="d" [matMenuTriggerFor]="menu" style="color: black;"> 
                                       <i class="fas fa-ellipsis-v"></i>
                                   </a>
                                    <mat-menu #menu="matMenu"  xPosition="before">
                                        <div *ngIf="usuarioActual11 !== publicacion.usuario._id">
                                           <button *ngIf="!publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                               <i class="far fa-flag" ></i>
                                               <span> Reportar</span>
                                           </button>
                                           <button *ngIf="publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                               <a class="colorIcono"> <i class="far fa-flag" ></i></a>
                                               <span> No Reportar</span>
                                           </button>
                                       </div>
                                       <div *ngIf="usuarioActual11 === publicacion.usuario._id">
                                           <button mat-menu-item (click)="editarPublicacion(publicacion)">
                                               <i class="far fa-edit"></i>
                                             <span> Editar Publicacion</span>
                                           </button>
                                           <button mat-menu-item (click)="borrar(publicacion)">
                                               <i class="far fa-trash-alt"></i>
                                             <span> Borrar Publicacion</span>
                                           </button>
                                       </div>
                                     </mat-menu>
                               </div>
                               <div class="container m-1">
                            <div class="con">
                                <div class="col-md-12">
                                    <p class="mt-2 estiloUno">
                                        <a class="estiloDesripcion" type="submit" (click)="comentar(publicacion)"> {{publicacion.descripcion | lowercase}} </a> <br>
                                        {{publicacion.contenido | lowercase}} 
                                    </p>
                                </div>
                            </div>  
                            <div class="con">
                                <div class="col-md-4">
                
                                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes <= 1  && publicacion.CantidadLikes >0">
                                        {{publicacion.CantidadLikes}} Me gusta
                                    </div>
                                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes >1  && publicacion.CantidadLikes >0">
                                        {{publicacion.CantidadLikes}} Me gustas
                                    </div>
                
                                </div>
                                <div class="col-md-4">
                                    
                                                
                                                <div class="col-md-12" *ngIf="publicacion.CantidadComentarios <= 1 && publicacion.CantidadComentarios >0">
                                                    {{publicacion.CantidadComentarios}} comentario
                                                </div>
                                                <div class="col-md-12" *ngIf="publicacion.CantidadComentarios >1 && publicacion.CantidadComentarios >0">
                                                    {{publicacion.CantidadComentarios}} comentarios
                                                </div>
                
                                </div>
                                <div class="col-md-4">
                            <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos <= 1 && publicacion.CantidadCompartidos >0">
                                {{publicacion.CantidadCompartidos}} compartido
                            </div>
                            <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos >1 && publicacion.CantidadCompartidos >0">
                                {{publicacion.CantidadCompartidos}} compartidos
                            </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </mat-tab>
                <mat-tab label="Likes" >
                    <hr style="background-color: rgb(158, 158, 158);">
                    <div class="alert alert-primary" *ngIf="cantidadLike === 0 ">Ningun Like</div>


                    
                    <app-loading *ngIf="!cargarContenido2"></app-loading>
                    <div *ngIf="cargarContenido2">
                        <div *ngIf="cantidadLike === 0" >
                            <div class="alert alert-primary" *ngIf="cantidadLike===0">Ningun Like</div>
                        </div>
                    </div>

                        <div class="bordeTexto2 mb-3" *ngFor="let publicacion of likesU;let i=index" >
                            <div class="con">
                                    <div class="col-md-2 estiloPerfil4" >
                                        <p *ngIf="
                                                'A' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'a' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'B' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'b' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'C' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'c' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'D' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'd' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'E' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'e' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'F' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'f' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'G' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'g' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'H' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'h' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'K' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'k' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'L' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'l' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'N' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'n' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'O' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'o' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'R' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'r' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'P' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'p' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'S' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  's' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'U' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'u' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'V' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'v' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'X' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'x' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'Y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'Z' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'z' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio1Letra">
                                        <label> {{publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="'M' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'm' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio3Letra">
                                        <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="
                                                    'I' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                    'J' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase()    " class="espacio2Letra">
                                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                        <p *ngIf="
                                                'T' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  't' === publicacion.usuario.nombre.charAt(0).toUpperCase() 
                                                    " class="espacio4Letra">
                                            <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                        </p>
                                    </div>
                                    <div class="col-md-10 mt-2" >
                                        <a class="estiloNombre" (click)="buscarusuario(publicacion.usuario)" type="submit"> {{publicacion.usuario.nombre | titlecase}} {{publicacion.usuario.apellidoPaterno | titlecase}} {{publicacion.usuario.apellidoMaterno | titlecase}} </a>  <label style="padding-left: 2px;padding-right: 2px;">  &#183;   </label>  
                                        <small style="color: rgb(80, 80, 80); font-size: 15px;"><label>{{publicacion.fecha|capitalizado}}</label></small> 
                                    <br>
                                    <small class="text-muted" style="font-size: 15px;color:  rgb(132, 132, 132) !important;"><label> {{publicacion.tipoEnfermedad | titlecase }}</label></small> 
                                    </div>
                                <div class="col-md-0" >
                                    <a type="submit" class="d" [matMenuTriggerFor]="menu" style="color: black;"> 
                                       <i class="fas fa-ellipsis-v"></i>
                                   </a>
                                    <mat-menu #menu="matMenu"  xPosition="before">
                                        <div *ngIf="usuarioActual11 !== publicacion.usuario._id">
                                           <button *ngIf="!publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                               <i class="far fa-flag" ></i>
                                               <span> Reportar</span>
                                           </button>
                                           <button *ngIf="publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                               <a class="colorIcono"> <i class="far fa-flag" ></i></a>
                                               <span> No Reportar</span>
                                           </button>
                                       </div>
                                       <div *ngIf="usuarioActual11 === publicacion.usuario._id">
                                           <button mat-menu-item (click)="editarPublicacion(publicacion)">
                                               <i class="far fa-edit"></i>
                                             <span> Editar Publicacion</span>
                                           </button>
                                           <button mat-menu-item (click)="borrar(publicacion)">
                                               <i class="far fa-trash-alt"></i>
                                             <span> Borrar Publicacion</span>
                                           </button>
                                       </div>
                                     </mat-menu>
                               </div>
                               <div class="container m-1">
                            <div class="con">
                                <div class="col-md-12">
                                    <p class="mt-2 estiloUno">
                                        <a class="estiloDesripcion" type="submit" (click)="comentar(publicacion)"> {{publicacion.descripcion | lowercase}} </a> <br>
                                        {{publicacion.contenido | lowercase}} 
                                    </p>
                                </div>
                            </div>  
                            <div class="con">
                                <div class="col-md-4">
                
                                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes <= 1  && publicacion.CantidadLikes >0">
                                        {{publicacion.CantidadLikes}} Me gusta
                                    </div>
                                    <div class="col-md-12" *ngIf="publicacion.CantidadLikes >1  && publicacion.CantidadLikes >0">
                                        {{publicacion.CantidadLikes}} Me gustas
                                    </div>
                
                                </div>
                                <div class="col-md-4">
                                    
                                                
                                                <div class="col-md-12" *ngIf="publicacion.CantidadComentarios <= 1 && publicacion.CantidadComentarios >0">
                                                    {{publicacion.CantidadComentarios}} comentario
                                                </div>
                                                <div class="col-md-12" *ngIf="publicacion.CantidadComentarios >1 && publicacion.CantidadComentarios >0">
                                                    {{publicacion.CantidadComentarios}} comentarios
                                                </div>
                
                                </div>
                                <div class="col-md-4">
                            <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos <= 1 && publicacion.CantidadCompartidos >0">
                                {{publicacion.CantidadCompartidos}} compartido
                            </div>
                            <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos >1 && publicacion.CantidadCompartidos >0">
                                {{publicacion.CantidadCompartidos}} compartidos
                            </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>


                </mat-tab>
                <mat-tab label="Compartidos">
                    <hr style="background-color: rgb(158, 158, 158);">
                    <div class="alert alert-primary" *ngIf="cantidadCompartido === 0"> Ningun Compartido </div>
                    

                    <app-loading *ngIf="!cargarContenido3"></app-loading>
                    <div *ngIf="cargarContenido3">
                        <div *ngIf="cantidadCompartido === 0" >
                            <div class="alert alert-primary" *ngIf="cantidadCompartido===0">Ningun Compartido</div>
                        </div>
                    </div>

                        <div class="bordeTexto2 mb-3" *ngFor="let publicacion of compartidos" >
                        <div class="con">
                                <div class="col-md-2 estiloPerfil4" >
                                    <p *ngIf="
                                            'A' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'a' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'B' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'b' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'C' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'c' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'D' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'd' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'E' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'e' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'F' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'f' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'G' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'g' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'H' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'h' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'K' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'k' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'L' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'l' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'N' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'n' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'O' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'o' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'R' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'r' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'P' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'p' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'S' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  's' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'U' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'u' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'V' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'v' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'X' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'x' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'Y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'y' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                            'Z' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  'z' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio1Letra">
                                    <label> {{publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                    </p>
                                    <p *ngIf="'M' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'm' === publicacion.usuario.nombre.charAt(0).toUpperCase()" class="espacio3Letra">
                                    <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                    </p>
                                    <p *ngIf="
                                                'I' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||
                                                'J' === publicacion.usuario.nombre.charAt(0).toUpperCase() || 'i' === publicacion.usuario.nombre.charAt(0).toUpperCase()    " class="espacio2Letra">
                                        <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                    </p>
                                    <p *ngIf="
                                            'T' === publicacion.usuario.nombre.charAt(0).toUpperCase() ||  't' === publicacion.usuario.nombre.charAt(0).toUpperCase() 
                                                " class="espacio4Letra">
                                        <label> {{ publicacion.usuario.nombre|uppercase | slice:0:1}}</label>
                                    </p>
                                </div>
                                <div class="col-md-10 mt-2" >
                                    <a class="estiloNombre" (click)="buscarusuario(publicacion.usuario)" type="submit"> {{publicacion.usuario.nombre | titlecase}} {{publicacion.usuario.apellidoPaterno | titlecase}} {{publicacion.usuario.apellidoMaterno | titlecase}} </a>  <label style="padding-left: 2px;padding-right: 2px;">  &#183;   </label>  
                                    <small style="color: rgb(80, 80, 80); font-size: 15px;"><label>{{publicacion.fecha|capitalizado}}</label></small> 
                                <br>
                                <small class="text-muted" style="font-size: 15px;color:  rgb(132, 132, 132) !important;"><label> {{publicacion.tipoEnfermedad | titlecase }}</label></small> 
                                </div>
                            <div class="col-md-0" >
                                <a type="submit" class="d" [matMenuTriggerFor]="menu" style="color: black;"> 
                                   <i class="fas fa-ellipsis-v"></i>
                               </a>
                                <mat-menu #menu="matMenu"  xPosition="before">
                                    <div *ngIf="usuarioActual11 !== publicacion.usuario._id">
                                       <button *ngIf="!publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                           <i class="far fa-flag" ></i>
                                           <span> Reportar</span>
                                       </button>
                                       <button *ngIf="publicacion.reportar" mat-menu-item (click)="reportar(publicacion)" >
                                           <a class="colorIcono"> <i class="far fa-flag" ></i></a>
                                           <span> No Reportar</span>
                                       </button>
                                   </div>
                                   <div *ngIf="usuarioActual11 === publicacion.usuario._id">
                                       <button mat-menu-item (click)="editarPublicacion(publicacion)">
                                           <i class="far fa-edit"></i>
                                         <span> Editar Publicacion</span>
                                       </button>
                                       <button mat-menu-item (click)="borrar(publicacion)">
                                           <i class="far fa-trash-alt"></i>
                                         <span> Borrar Publicacion</span>
                                       </button>
                                   </div>
                                 </mat-menu>
                           </div>
                           <div class="container m-1">
                        <div class="con">
                            <div class="col-md-12">
                                <p class="mt-2 estiloUno">
                                    <a class="estiloDesripcion" type="submit" (click)="comentar(publicacion)"> {{publicacion.descripcion | lowercase}} </a> <br>
                                    {{publicacion.contenido | lowercase}} 
                                </p>
                            </div>
                        </div>  
                        <div class="con">
                            <div class="col-md-4">
            
                                <div class="col-md-12" *ngIf="publicacion.CantidadLikes <= 1  && publicacion.CantidadLikes >0">
                                    {{publicacion.CantidadLikes}} Me gusta
                                </div>
                                <div class="col-md-12" *ngIf="publicacion.CantidadLikes >1  && publicacion.CantidadLikes >0">
                                    {{publicacion.CantidadLikes}} Me gustas
                                </div>
            
                            </div>
                            <div class="col-md-4">
                                
                                            
                                            <div class="col-md-12" *ngIf="publicacion.CantidadComentarios <= 1 && publicacion.CantidadComentarios >0">
                                                {{publicacion.CantidadComentarios}} comentario
                                            </div>
                                            <div class="col-md-12" *ngIf="publicacion.CantidadComentarios >1 && publicacion.CantidadComentarios >0">
                                                {{publicacion.CantidadComentarios}} comentarios
                                            </div>
            
                            </div>
                            <div class="col-md-4">
                        <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos <= 1 && publicacion.CantidadCompartidos >0">
                            {{publicacion.CantidadCompartidos}} compartido
                        </div>
                        <div class="col-md-12" *ngIf="publicacion.CantidadCompartidos >1 && publicacion.CantidadCompartidos >0">
                            {{publicacion.CantidadCompartidos}} compartidos
                        </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                </mat-tab>
            </mat-tab-group>
    </div>
</div> 
