

.bordeBoton{
    border: none;
    border-radius: 50px;
    background-color:  rgb(240, 239, 239);
    color: rgb(0, 0, 0);/*  SE QUEDA /........................................................................s */
    margin-left: 50px;
    padding-bottom: 10px;
}
.bordeBoton:hover{
    border: none;
    border-radius: 50px;
    background-color:  rgb(227, 226, 226);
    color: rgb(0, 0, 0);/*  SE QUEDA /........................................................................s */
    margin-left: 50px;
}  
.estacioCostado{
    padding-left: 40px;   /* SE QUEDA /.................................................................................     */
    color: black;
} 
p {
    font: small-caption;
}
.estiloPerfil4p{
    border: 1px solid rgb(41, 41, 41);
    border-radius: 100px;
    padding-left: 11px;  /* SE QUEDA */
    padding-right: 5px;  
    padding-top: 6px;
    width:  110px;
    height:  110px;
    margin-bottom: -20;
    margin-left: 6px;
}
.espacio2Letrap{
    padding-left: 37px;
    margin-top:2px;/* SE QUEDAA */
    padding-top: 10px;
    font-size: 50px;
}
.espacio1Letrap{
    padding-left: 30px;
    margin-top:2px;
    padding-top: 10px;  /* SE QUEDA.//////////////////////////////................................ */
    font-size: 50px;
}
.espacio5Letrap{
    padding-left: 25px;
    margin-top:2px;
    padding-top: 10px;  /* SE QUEDA.//////////////////////////////................................ */
    font-size: 50px;
}
 
.estiloUno{
    font-size: 15px; 
    color: black; font-weight: 300;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;          /* Guiones para separar en sílabas */
    -moz-hyphens: auto;         /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}
 
/* .espacio2Letrap{
    padding-left: 37px;
    margin-top:2px;
    padding-top: 10px;
    font-size: 50px;
} */
/* .espacio1Letrap{
    padding-left: 25px;
    margin-top:2px;
    padding-top: 10px;
    font-size: 50px;
}
 */
.espacio3Letrap{
    padding-left:20px;
    margin-top:2px;
    padding-top:10px;
    font-size: 50px;
}
.espacio3Letra{
    padding-left:1px;
    margin-top:0px;
    padding-top: 0px;
    margin-left: 2px;
    font-size: 22px;
}

.espacio4Letrap{
    padding-left:3px;
    margin-top:2px;
    margin-left: 2px;
    font-size: 20px;
}


/* '''''''''''''''''''''''' */

.estiloImput{
    outline: none;
    border: 1px solid  rgb(178, 177, 177);
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 5px;
}
 
input{
    outline: none;
    background: white;
}
input::placeholder{
    font-size: 15px;
    color: rgb(179, 179, 179);
}
input:focus{
    border: 1px solid  rgb(178, 177, 177);
}
.estiloBoton{
    border-radius: 20px;
    background-color: rgb(240, 239, 239);
}
.estiloBoton:hover{
    background-color: rgb(227, 226, 226);
    border-radius: 20px;
}
.espacio2Letra{
    padding-left: 5px;
    margin-top:0px;
    padding-top: 0px;
    margin-left: 4px;
    font-size: 22px;
    color: black;
}
/* .espacio2Letra{
    padding-left: 5px;
    margin-top:2px;
} */
.espacio44Letrap{
    padding-left:30px;
    margin-top:2px;
    padding-top:10px;
    font-size: 50px;
}
.espacio1Letra{
    padding-left: 5px;
    margin-top:0px;
    margin-left: 2px;  
    font-size: 22px;
}
.espacio5Letra{
    padding-left: 3px;
    margin-top:0px;
    margin-left: 2px;  
    font-size: 22px;
}

.espacio4Letra{
    padding-left:3px;
    margin-top:0px;
    margin-left: 4px;
    font-size: 22px;
}

.estiloPerfil55{
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
    padding-left: 14px;
    padding-right: 10px;  
    padding-top: 7px;
    width:   80px;
    height:   80px;
    /* margin-bottom: -20; */
    margin-left:5px;
    /* margin-top: 10px; */
    font-size: 40px;
}
.espacioPublicacion{
    margin-left: 20px;
}
.formEditar{
    border: 1px solid  rgb(178, 177, 177);
    width: 100%;
    height: 40px;
    background-color:rgb(255, 255, 255);
    font-size: 22px;
    border-radius: 10px;
}
.formEditar:focus{
    border: 1px solid  rgb(178, 177, 177);
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.botonInicio{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: black;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
}
.botonInicio:hover{
    background-color: rgb(231, 231, 231);
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

 
 .estiloPerfil4{
     
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
    padding-left: 11px;
    padding-right: 10px;  
    padding-top: 8px;
    width:   50px; /* // aqui */
    height:   50px; /* // aqui */
    margin-bottom: -20;
    margin-left: 6px;
}

/* .espacio4Letra{
    padding-left:3px;
    margin-top:2px;
} */

.estiloTarjeta{
    border: 1px solid rgb(46, 46, 46);
    padding-top: 10px;
}
.estiloDesripcion{
    /* text-decoration: underline; */
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-size: 18px;
}
.estiloNombre{
    text-decoration:none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.estiloNombre:hover{
    text-decoration: underline;
    font-weight: 400;
}
.colorCorazon1{
    color: rgb(252, 54, 54);
    text-decoration: none;
    font-size: 22px;
}
.colorComentario2{
    color: rgb(13, 138, 255);
    text-decoration: none;
    font-size: 22px;
}
.colorCompartir3{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
}
.colorCorazon1:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 22px;
}
.colorComentario2:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 22px;
}
.colorCompartir3:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 22px;
}


.colorCorazon{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
}
.colorComentario{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
    font-size: 22px;
}
.colorCompartir{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
}
.colorCorazon:hover{
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 22px;
}
.colorComentario:hover{
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 22px;
}
.colorCompartir:hover{
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 22px;
}
.bordeTexto2{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(215, 215, 215);
    padding-top: 10px;
}

.tex:hover{
    text-decoration: underline;
}

.d{
    background-color: rgb(255, 255, 255);
    padding: 7px;
}
.negro {
    /* background-color: rgb(248, 248, 248); */
 padding: 0px;
 border-radius: 20px;
 border: 0px solid rgb(238, 238, 238);
 /* border-color: #6e6d6d; */
 padding: 0px;
 /* margin:10px; */
}
.colorIcono{
    color: rgb(0, 38, 255);
}
.estiloUno{
    font-size: 15px; 
    color: black; font-weight: 300;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;          /* Guiones para separar en sílabas */
    -moz-hyphens: auto;         /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.espacio22Letra{
    padding-left: 10px;
    margin-top:20px;
    font-size: 50px;
    color: black;
}

.espacio33Letra{
    padding-left: 3px;
    margin-top: 24px;
    font-size: 50px;
}
.espacio44Letra{
    padding-left:30px;
    margin-top:10px;
    padding-left:10px;
    font-size: 50px;
}
.espacio11Letra{
    padding-left: 9px;
    margin-top:24px;

    font-size: 50px;
}
.borderBoton{
    border-radius: 5px;
    /* padding: 10px; */
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    text-align: center;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.borderBoton2{  
    border: none;
    border-radius: 5px;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 235, 235);
    text-decoration: none;
    color: black;
    text-align: center;
}
.relleno{
    border-radius: 5px;
    /* border: 1px solid black; */
}
.estiloFrente{
    font-size: 30px;
}
.con2{
    border: none !important ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.cambiar{
    color: black;
    text-decoration: none;
}
.cambiar:hover{
    color: black;
    text-decoration: underline;
}