<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <router-outlet ></router-outlet>
    </div>
    <div class="col-md-3">
        <div *ngIf="!sw" class="sticky-top">
            <div class="contenedor3">
            <p style="text-align: center; font-size: 20px; font-weight: 600;" class="mt-3"> <label> Enfermedades</label></p>
            <div class="contenedor2">
              <a class="list-group-item m-2" type="submit" aria-current="true" *ngFor="let publicacion of enfermeades" (click)="buscarEnfermedad(publicacion)">
                <div class="d-flex justify-content-between">
                  <small class="mb-1">{{publicacion._id | uppercase}}</small>
                  <small  class="text-muted" style="text-align: center;">{{publicacion.total}}<br> Publicaciones</small>
                </div>
              </a>
            </div>
            </div>
        </div>
    </div>
</div>
