.sticky-top-1{
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    width: 100%;
}
.estiloLateral{
    font-size: 170%;
    padding-left: 20px;
}
.espacioLateralMenuPrincipal{
    padding-left: 15px;
}

.contenedor3{
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px ;
}

.contenedor2 {
    height: 500px;
    width: 100%;
    overflow: auto;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* padding-top: 5px; */
}

.contenedor2::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

.contenedor2::-webkit-scrollbar-thumb:hover {
    background-color: rgb(105, 105, 105);
}

.contenedor2::-webkit-scrollbar-thumb {
    padding-right: 5px;
    background-color: rgb(139, 139, 139);
    border-radius: 5px;
}



.satoIconos{
    margin-right: 10px;
}
.estilotarjetaitems{
    color: black;
    font-size: 25px;
    padding-bottom: -5px;
    padding-top: 15px;
}
.estilotarjetaitems:hover{
    color: black;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: -5px;
    
}
.negro {
    background-color: rgb(250, 250, 250);
 padding: 0px;
 border-radius: 20px;
 border: 1px solid #b3b3b3 ;
 /* border-color: #6e6d6d; */
 /* padding: 5px; */
}
.ordenar{
    
    justify-content: center;
   
}
.enlace{
    font-size: 25px;
}
.espacio1Letra{
    padding-left: 2px;
    padding-top: 80px;
    padding-bottom: 5px;
    margin-bottom: 0px !important ;
    color: white;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 100px !important;
}
.espacio2Letra{
    padding-left: 5px;
    padding-top:  1px;
    border: 2px solid rgb(201, 201, 201);
    color: rgb(255, 255, 255);
    border-radius: 100px !important;
    margin-bottom: 10px !important ;
}
.espacio3Letra{
    border: 2px solid rgb(201, 201, 201);
    padding-top: 1px;
    padding-right: 10px;
    color: white;
    border-radius: 100px !important;
    margin-bottom: 10px !important ;
}
.input1{
    width: 300px;
    outline: none;
    border:0px solid ;
    border-color: rgb(34, 34, 34);
    margin-left: -50px;
    height: 40px;
    border-radius: 10px;
    padding-left: 9px;
    background: rgb(44, 44, 44);
    color: rgb(215, 215, 215);
}
.input1:focus{
    outline: none;
    border: 0px solid rgb(65, 116, 255);
    padding-left: 9px;
    background: rgb(44, 44, 44);
    color:rgb(215, 215, 215);
}
 