.estiloImput{
    outline: none;
    border: 0px solid black;
    width: 100%;
    height: 30px;
    font-size: 25px;
}
input{
    outline: none
}
input::placeholder{
    font-size: 20px;
}
.estiloBoton{
    border-radius: 20px;
}
.estiloBoton:hover{
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
}

.estiloPerfil44{
     
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
    padding-left: 21px;
    padding-right: 15px;  
    padding-top: 20px;
    width:   70px;
    height:   70px;
    margin-bottom: -20;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}
.espacioPublicacion{
    margin-left: 20px;
}
.formEditar{
    border: 0px solid  rgb(73, 73, 73);
    width: 100%;
    height: 40px;
    background-color:rgb(238, 238, 238);
    font-size: 20px;
}
.formEditar:focus{
    outline: none;
    width: 100%;
    height: 40px;
}
.botonInicio{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: black;
}
.botonInicio:hover{
    background-color: rgb(179, 179, 179);
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}


/* 
 */


 .estiloPerfil4{
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
    padding-left: 14px;
    padding-right: 10px;  
    padding-top: 7px;
    width:   50px;
    height:   50px;
    /* margin-bottom: -20; */
    margin-left:5px;
    /* margin-top: 10px; */
    font-size: 40px;
}
.espacio2Letra{
    padding-left: 5px;
    margin-top:2px;
    padding-top: 4px;
    margin-left: 0px;
    font-size: 20px;
    color: black;
}
.espacio1Letra{
    padding-left: 3px;
    margin-top:6px;
    margin-left: 0px;
    font-size: 20px;
    /* padding-top: 20px; */
}
.espacio3Letra{
    padding-left:1px;
    margin-top:7px;
    padding-bottom: 4px;
    margin-left: px;
    font-size: 20px;
}
.espacio4Letra{
    padding-left:3px;
    margin-top:6px;
    margin-left:1px;
    font-size: 20px;
}

.estiloTarjeta{
    border: 1px solid rgb(46, 46, 46);
    padding-top: 10px;
}
.estiloDesripcion{
    /* text-decoration: underline; */
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-size: 20px;
}
.estiloNombre{
    text-decoration:none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.estiloNombre:hover{
    text-decoration: underline;
    font-weight: 400;
}
.colorCorazon1{
    color: rgb(252, 54, 54);
    text-decoration: none;
    font-size: 18px;
}
.colorComentario2{
    color: rgb(13, 138, 255);
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir3{
    color: rgb(82, 255, 59);
    text-decoration: none;
    font-size: 18px;
}
.colorCorazon1:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}
.colorComentario2:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}
.colorCompartir3:hover{
    /* color: black; */
    text-decoration: none;
    font-size: 18px;
}

.colorCorazon{
    color: rgb(102, 102, 102);
    text-decoration: none;
     font-size: 18px;
}
.colorComentario{
    color: rgb(102, 102, 102);
    text-decoration: none;
     font-size: 18px;
}
.colorCompartir{
    color: rgb(102, 102, 102);
    text-decoration: none;
     font-size: 18px;
}
.colorCorazon:hover{
    color: rgb(252, 54, 54);
    text-decoration: none;
     font-size: 18px;
}
.colorComentario:hover{
    color: rgb(13, 138, 255);
    text-decoration: none;
     font-size: 18px;
}
.colorCompartir:hover{
    color: rgb(82, 255, 59);
    text-decoration: none;
     font-size: 18px;
}
.bordeTexto2{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(215, 215, 215);
    padding-top: 10px;
}
.colorIcono{
    color: rgb(0, 38, 255);
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.negro {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #b3b3b3 ;
    /* border-color: #6e6d6d; */
    padding: 0px;
    /* margin:10px; */
   }
.estiloUno{
    font-size: 15px; 
    color: black; font-weight: 300;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;          /* Guiones para separar en sílabas */
    -moz-hyphens: auto;         /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}
.d{
    background-color: rgb(255, 255, 255);
    padding: 7px;
}