
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="off" class="formulario" [formGroup]="forma" (ngSubmit)="login()">
            <div class="col-md-12 mt-3 mb-3" style="text-align: center;"> <strong style="font-size: 25px; color: rgb(46, 46, 46); text-align: center  !important;">INICIA SESIÓN</strong></div>
                <label class="col-2 col-form-label"  style="color: rgb(0, 0, 0);"><small> Correo</small></label>
                <div class="con">
                    <div class="col-1 mt-3">
                            <i class="fas fa-user" style="color: rgb(0, 0, 0);"></i>
                    </div>
                    <div class="col-11">
                        <input class="estiloIniciarSession" 
                                type="email" 
                                placeholder="Correo"
                                formControlName="correo"
                                [class.is-invalid]="correoNoValido"
                                (keyup)="val()"
                                >
                    </div> 
                </div>
                <label class="col-2 col-form-label"  style="color: rgb(0, 0, 0);"> <small> Contraseña</small></label><br>
                <div class="con">
                    <div class="col-1 mt-3">
                        <i class="fas fa-lock" style="color: rgb(49, 49, 49);"></i>
                    </div>
                    <div class="col-11">
                        <input class="estiloIniciarSession"
                                type="password"
                                placeholder="Ingrese Contraseña"
                                formControlName="password"
                                [class.is-invalid]="passwordNoValido"
                                (keyup)="val()"
                                >
                    </div>
                </div>
            <span class="text-danger" *ngIf="erroe1!==''">{{erroe1}}</span>
            <span class="text-danger" *ngIf="erroe2!==''">{{erroe2}}</span>
            <small *ngIf="correoNoValido" class="text-danger">El correo no es valido</small><br *ngIf="correoNoValido">
            <small *ngIf="passwordNoValido" class="text-danger">La contraseña no es valido</small><br *ngIf="desabilitar">
            <small *ngIf="desabilitar" class="text-danger">{{mensajeError}}</small>
            <div class="form-group" >
                <label class="col-12 col-form-label">&nbsp;</label>
                <div class="row">
                    <button type="submit" [disabled]="desabilitar || correoNoValido || passwordNoValido" href="#" class=" botonEstilo">Login</button>
                </div>
                <div class="col-md-12 mt-3" style="text-align: center; color: rgb(29, 29, 29);">
                    no tienes cuenta? 
                    <a type="submit" class="letra" (click)="registrarse()">Registrarse</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
